.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    gap: 20px; /* Adjust the gap between items as needed */
}

.item-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust the gap between items as needed */
}