.form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.form-group label {
    margin-right: 10px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.checkbox-group div {
    display: flex;
    align-items: center;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}
